<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include("../partials/bootstrap") %>
    <title>User</title>
</head>

<body style="font-family: 'Open Sans', sans-serif;">

    <%- include("../partials/navbar") %>

    <form method="POST">
        <div class="form-group">
            <label for="name">Item</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Item's Name">
        </div>
        <select name="StorageId" id="">
            <%storages.forEach(storage => {%>
                <option value="<%=storage.id%>"><%=storage.name%> | <%=storage.capacity%></option>
            <%})%>
        </select>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  

    
</body>

</html>