<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include("../partials/bootstrap") %>
    <title>Document</title>
</head>
<body style="font-family: 'Open Sans', sans-serif;">
    
    <%- include('../partials/navbar') %>

    <div class="container">
    <div class="row pt-5">
      <div class="col">
        <div class="card-body">
          <h2 class="card-title d-flex justify-content-center">Users Data</h2>
          <table class="table table-dark table-hover table-striped">
            <thead class="thead-light">
              <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Capacity</th>
              </tr>
            </thead>
            <tbody>

              <% storages.forEach(storage => {%>
              <% const {name, address, capacity} = storage.dataValues %>
              <tr>
                <td><%= name %></td>
                <td><%= address %> </td>
                <td><%= storage.capacityBox() %> </td>
              </tr>
              <% }) %>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
    
    
</body>
</html>