<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include("../partials/bootstrap") %>
    <title>User</title>
</head>

<body style="font-family: 'Open Sans', sans-serif;">

    <%- include("../partials/navbar") %>

    <%if(error){%>
    <div class="alert alert-danger" role="alert">
        <%= error %>
    </div>
    <%}%>
    


    <div class="container">
            <div class="row pt-5">
              <div class="col">
                <div class="card-body">
                  <h2 class="card-title d-flex justify-content-center">Users Data</h2>
                    
        <form method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name" value="<%if(user){%><%=user.name%><%}%>">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="password" value="<%if(user){%><%=user.password%><%}%>">
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" name="address" placeholder="Address" value="<%if(user){%><%=user.address%><%}%>">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            </div>
        </div>
     </div>
 </div>
        

        

    
</body>

</html>